<!-- <h1 class=text-center><%= @bookmark.url %></h1> -->

<div class="row">
  <div class="col-md-8">
    <% @bookmarks.each do |bookmark| %>
      <div class="media">
      </div>
    <% end %>
  </div>
</div>